<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="form_wrapper">
  <h1>{{headerText}}</h1>

 <section class="input_wrapper">
    <label>Username
      <input type="text" placeholder="Username" formControlName="username"/>
      <p class="error" *ngIf="dataForm.get('username')?.invalid && dataForm.get('username')?.touched">
        <span *ngIf="dataForm.get('username')?.hasError('required')">username is required</span>
        
      </p>
    </label>

    <label>Password
      <input type="password" placeholder="Password" formControlName="password"/>
      <p class="error" *ngIf="dataForm.get('password')?.invalid && dataForm.get('password')?.touched">
        <span *ngIf="dataForm.get('password')?.hasError('required')">password is required</span>
      </p>
    </label>

    <a routerLink="/reset">Forgot password?</a>

  </section>


  


  <input type="submit" value="Sign in">

  <hr>

  <p>Don't have an account? <a routerLink="/register">Sign up</a></p>

</form>
