<form [formGroup]="dataForm" (ngSubmit)="onSubmit()" class="form_wrapper">
  <h1>{{headerText}}</h1>

 <section class="input_wrapper">

    <label>First Name
      <input type="text" placeholder="First name" formControlName="first_name"/>
      <p class="error" *ngIf="dataForm.get('first_name')?.invalid && dataForm.get('firstName')?.touched">
      <span *ngIf="dataForm.get('first_name')?.hasError('required')">firstname is required</span>
      <span *ngIf="dataForm.get('first_name')?.hasError('pattern')">letters only</span>
      </p>
    </label>

    <label>Last Name
      <input type="text" placeholder="Last name" formControlName="last_name"/>
      <p class="error" *ngIf="dataForm.get('last_name')?.invalid && dataForm.get('login')?.touched">
      <span *ngIf="dataForm.get('last_name')?.hasError('required')">lastname is required</span>
      <span *ngIf="dataForm.get('last_name')?.hasError('pattern')">letters only</span>
      </p>
    </label>

    <label>Email
      <input type="text" placeholder="Email" formControlName="email"/>
      <p class="error" *ngIf="dataForm.get('email')?.invalid && dataForm.get('email')?.touched">
        <span *ngIf="dataForm.get('email')?.hasError('required')">email is required</span>
        <span *ngIf="dataForm.get('email')?.hasError('pattern')">email address not valid</span>
      </p>
    </label>

    <label>Username
      <input type="text" placeholder="Username" formControlName="username"/>
      <p class="error" *ngIf="dataForm.get('username')?.invalid && dataForm.get('username')?.touched">
        <span *ngIf="dataForm.get('username')?.hasError('required')">username is required</span>
        <span *ngIf="dataForm.get('username')?.hasError('minlength')">6 characters min</span>
      </p>
    </label>

    <label>Password
      <input type="password" placeholder="Password" formControlName="password"/>
      <p class="error" *ngIf="dataForm.get('password')?.invalid && dataForm.get('password')?.touched">
        <span *ngIf="dataForm.get('password')?.hasError('required')">password is required</span>
        <span *ngIf="dataForm.get('password')?.hasError('minlength')">8 characters min</span>
        <span *ngIf="dataForm.get('password')?.hasError('pattern') && !dataForm.get('password')?.hasError('minlength')">one uppercase and one digit required</span>
      </p>
    </label>

    <label>Type password again
      <input type="password" placeholder="Password" formControlName="repeatPassword"/>
      <p class="error" *ngIf="dataForm.get('repeatPassword')?.touched && dataForm?.errors || dataForm.get('repeatPassword')?.invalid">
        <span *ngIf="dataForm.get('repeatPassword')?.hasError('required') && dataForm.get('repeatPassword')?.touched">repeat password</span>
        <span *ngIf="dataForm?.errors?.['passwordsNotMatch'] && dataForm.get('repeatPassword')?.touched && !dataForm.get('repeatPassword')?.hasError('required')">passwords not matching</span>
      </p>
    </label>

    <a routerLink="/reset">Forgot password?</a>

  </section>



  <input type="submit" value="Sign up">

  <hr>

  <p><a routerLink="/login">Sign in</a></p>

</form>
